<%= semantic_form_for [:admin, @static_page], html: { multipart: true } do |f| %>
  <%= f.inputs 'Основное' do %>
    <%= f.input :name %>
    <%= f.input :permalink %>
    <%= f.input :text1, as: :html_editor %>
  <% end %>

  <%= f.inputs 'SEO' do %>
    <%= f.input :title, :input_html => { :rows => 5 } %>
    <%= f.input :keywords, :input_html => { :rows => 5 } %>
    <%= f.input :description, :input_html => { :rows => 5 } %>
    <%= f.input :image, :as => :file, :hint => f.template.image_tag(f.object.image.url) %>
  <% end %>

  <% unless f.object.new_record? %>
    <%= f.inputs "Банеры" do %>
      <div class="banners">
	<% f.object.banners.each do |banner| %>
	  <%= render 'admin/static_pages/add_banner', :banner => banner %>
	<% end %>
      </div>

      <%= f.input :id, as: :hidden, :input_html => {:id => 'static_page_id'} %>
      <%= f.input :banner, as: :text, :input_html => {:id => 'add_banner_text'} %>
      <%= f.input :banner_image, :as => :file, :input_html => {:id => 'add_banner_image'} %>
      <%= f.action :submit, :button_html => { :id => 'add_banner', :value => 'Добавить баннер' }  %>
    <% end %>
  <% end %>

  <%= f.actions %>
<% end %>
